.realEstate-card {
  width: 30rem;
  border: 2px solid #aaa;
  border-radius: 8px;
  /* children should not overflow */
  overflow: hidden;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  margin: 1rem;
}

.home-details {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5rem 0.5rem;
  cursor: pointer;

  position: absolute;
  bottom: -4.5rem;
  left: 0;
  right: 0;
}
