.realEstate-card {
  width: 30rem;
  border: 2px solid #aaa;
  border-radius: 8px;
  /* children should not overflow */
  overflow: hidden;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  /* display: flex;
  flex-direction: column; */
}

.home-details {
  display: flex;
  flex-direction: row;
  /* gap: 0.5rem; */
  /* margin: 0.5rem 0; */
  font-size: 0.8rem;
  /* color: rgb(205, 137, 12); */
  font-weight: bold;
  padding: 5rem 0.5rem;
  cursor: pointer;
}
