.realEstate-card {
  width: 30rem;
  border: 2px solid #aaa;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.realEstate-card:hover {
  transform: translateY(-4px);
  box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.2);
}

.home-details {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;

  position: absolute;
  bottom: 0.5rem;
  left: 0.7rem;
  right: 0;

  width: 270px;
  border-radius: 4px;
  overflow: hidden;
}
