.icon-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-accent);
  color: black;
  width: 4.5rem;
  padding: 0.3rem 0.3rem;
  justify-content: center;
}
