.footer {
  background: linear-gradient(90deg, #355fa7, #152f5f);
  color: rgb(205, 137, 12);
  text-align: center;
  padding: 2rem;
  font-size: 1.1rem;

  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  margin-top: auto;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* margin-top: 0.5rem; */
  margin: 0.3rem 0;
}

.clock-icon.open {
  font-size: 1.5rem;
  color: #2cd;
}

.clock-icon.closed {
  font-size: 1.5rem;
  color: #f44;
}

.note.open {
  color: #2cd;
  font-weight: bold;
}

.email {
  color: rgb(205, 137, 12);
  text-decoration: underline 1px;
}

.note.closed {
  color: rgb(255, 70, 12);
  font-weight: bold;
}
